@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Bienvenida" asp-action="Index" class="enlace-bienvenida">
        Ir a la Página de Bienvenida
    </a>
    <p>--------</p>
    <a asp-controller="Productos" asp-action="Index">
        Ver Productos
    </a>
    <p>--------</p>
    <a asp-controller="Info" asp-action="Index" class="btn-enlace-info">
        Ir a la página informativa
    </a>

</div>
