@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    @model Movie

    <h2>Crear Nueva Película</h2>

    <form asp-controller="Movie" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ReleaseDate" class="control-label"></label>
            <input asp-for="ReleaseDate" class="form-control" />
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" type="number" step="0.01" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

    <a asp-controller="Movie" asp-action="Index">Volver al listado</a>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

}
